<!DOCTYPE html>
<html>
    <head>
        <title>{{base_title}}</title>
        <style>
            span{
                color: red;
                font-family: 'VT323', monospace;
                font-size: 20px;
            }
            .main_page_title{
                text-align: center;
            }
            #post_input {
                width: 300px;
                height: 120px;
            }
        </style>
    </head>
    <body>
        <!-- <nav> -->
            <a class='link' href="/blog">Main Blog</a> 
            <a class='link' href="/new_post">Add a Post</a>
        <!-- </nav> -->
        <!-- <h1 class='header'>{{ header }}</h1> -->
        <!-- <hr/> -->
        {% block content %}
        {% endblock %}
    </body>
</html>