<!DOCTYPE html>
<html>
    <head>
        <title class="main_page_title">{{base_title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}"/>
        
    </head>
    <body>
        <a class='link' href="/blog">Main Blog</a> 
        <a class='link' href="/new_post">Add a Post</a>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    
        <footer>
                <p>© 2017 Julie Hutchinson</p>
        </footer>
    </body>
</html>