{% extends "base.html" %}

{% block content %}
    <h1 class="main_page_title"> Add a new entry</h1>
    <form method='POST' action='/blog'>
        <label><p>Title for your new blog:</p>
            <input type="text" name='new_post_title'/>
            <br/>
            <span>{{title_error}}</span>
        </label>        
        <label><p>Your new blog:</p>
            <textarea id="post_input" name='new_post_body'></textarea>
        </label>
        <br/>
        <span>{{body_error}}</span>
        <br/>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}